@font-face {
    font-family: 'Roadkill';
    src: url('../assets/fonts/17667.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}